<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is about page</title>
</head>
<body>
	<section>
		<div id="forgot">
			<div class="container">
				<!-- <div th:if="${session.message}" class="container mt-5">

					<div th:classappend="${session.message.type}"
						class="alert  text-center" role="alert">

						<span th:text="${session.message.content}"></span>

					</div>

					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div> -->
				<div id="forgot-row"
					class="row justify-content-center align-items-center">
					<div id="forgot-column" class="col-md-6">
						<div id="forgot-box" class="col-md-12">
						<form id="forgot-form" class="form" th:action="@{${form_dest}}" method="get">
							<h3 class="text-center text-info">Reset Password</h3>
							<div th:if="${!otpsent and !otpverified}" id="forgotPass_step_1">
								<p class = "mt-4">Please enter your whatsapp mobile number with which registered to receive OTP.</p>
								<div class="form-group">
										<label for="mobile" class="text-info">Mobile:</label><br>
										<input type="text" name="mobile" id="mobile"
											class="form-control">
								</div>
							</div>
							
							<div th:if="${!otpverified and otpsent}" >
								<p>Please enter the otp sent on the whatsapp</p>
								<div class="form-group">
										<label for="otp" class="text-info">OTP:</label><br>
										<input type="text" name="otp" id="otp"
											class="form-control">
								</div>
							</div>
							
							<div th:if="${otpverified and otpsent}">
								<p>Please enter the new password</p>
								<div class="form-group">
										<label for="pass" class="text-info">Password:</label><br>
										<input type="text" name="password" id="password"
											class="form-control">
								</div>
							</div>
							<div class="container text-center">
									<input type="submit"
										class="btn btn-info btn-md">
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>















