<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is about page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-5">
						
						<!-- <div th:if="${message}" th:classappend="${message.type}" class="alert alert-primary" role="alert">
 							 <p class="text-center" th:text="${message.content}">
 							 
						</div> -->
						
						<div class="container text-center">
							<img style="width: 80px" alt="" th:src="@{/img/register.png}"
								src="">
						</div>

						<h2 class="text-center">Register Here !!</h2>
						
						<form action="" th:action="@{/do_register}" method="post" th:object="${user}">

								<!-- First Name  -->

								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input required type="text" id="name" th:field="*{name}"
										placeholder="Enter Name here" class="form-control" />
								</div>

								<!-- Phone Field -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input required  type="tel" maxlength="10" minlength="10" id="phone" th:field="*{mobile}"
										placeholder="Enter WhatsApp Number  here" class="form-control" />
								</div>

								<!-- Email Field  -->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">@</div>
									</div>
									<input type="email" id="email" th:field="*{email}"
										placeholder="Enter email here" class="form-control" />
								</div>

								<!-- Adhar -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input required type="text" id="adhar" th:field="*{adhar}"
										placeholder="Enter Adhar here" class="form-control" />
								</div>

								<!-- Pan Card -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input type="text" id="panCard" th:field="*{panCard}"
										placeholder="Enter PAN Card number here" class="form-control" />
								</div>
								
								<!--  Per Day -->

								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input required type="number" id="perDay" th:field="*{perDay}"
										placeholder="Enter PerDay here" class="form-control" />
								</div>

								<!-- Password -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text ">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>
									<input required type="password" id="password" name="password"
										placeholder="Enter Password here" class="form-control" />
								</div>
								
								<!-- Gender Selection -->
								<div class="mt-3 mb-3 text-center">
									<div class="form-check form-check-inline mr-5">
										<input class="form-check-input" type="radio"
											th:field="*{gender}" id="inlineRadio1" th:value="male">
										<label class="form-check-label" for="inlineRadio1">Male</label>
									</div>
									<div class="form-check form-check-inline ml-5">
										<input class="form-check-input" type="radio"
											th:field="*{gender}" id="inlineRadio2" th:value="female">
										<label class="form-check-label" for="inlineRadio2">Female</label>
									</div>
								</div>

								<!-- Terms and conditions -->
								<div class="form-group form-check text-center">
									<input type="checkbox" name="agreement" class="form-check-input"
										id="agreement" /> <label for="agreement">Accept terms
										and conditions</label>
								</div>
								
								<div class="container text-center">
									<button type="submit" class="btn bg-primary text-white">Submit</button>
									<button type="reset" class="btn btn-warning text-white">Reset</button>
								</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>